@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: ggsans;
    src: url(./Fonts/gg-sans/ggsans-Bold.ttf);
}

@font-face {
    font-family: ggsans-normal;
    src: url(./Fonts/gg-sans/ggsans-Normal.ttf);
}

@font-face {
    font-family: Ginto-Nord;

    src: url(./Fonts/Ginto-Nord/Ginto-Nord-700.woff2);
}